---
title: Home
description: A digital garden showcasing my projects and wiki posts.
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">

  <title>{{ title }}</title>
</head>

<body>

  {% render header.liquid %}

  <main>


    <section class="gitshowcase">

      <div class="gitshowcase__wrapper">
        <h2 class="gitshowcase__title">GitHub Projects:</h2>
        <p class="gitshowcase__description"> I created and contributed to multiple projects over the past years. Here
          are some of the projects I've been working on!</p>
      </div>

      <ul class="gitshowcase__list">
        {% for repo in github limit:8%}
        <li class="gitshowcase__item">

          <div class="gitshowcase__icons">
            <span class="gitshowcase__label label">{{ repo.language }}</span>
            <a href="{{ repo.html_url }}" aria-label="Learn more about {{ repo.formattedName }}" target="_blank"
              class="button button--rounded">x</a>
          </div>

          <div class="gitshowcase__content">
            <h3>{{ repo.formattedName }}</h3>
            <p>{{ repo.description }}</p>
          </div>
        </li>
        {% endfor %}

        {% if github.size == 0 %}
        <h3>No projects found! </h3>
        <p>
          This is most likely due to the GitHub API rate limit being exceeded. <br> please try
          again later!
        </p>
        {% endif %}
      </ul>
    </section>

    <section class="wikis">
      <h2 class="wikis__title">Wiki's</h2>

      <div class="wikis__filters">
        <button class="wikis__filter--button button button--primary selected" data-filter="all">All</button>

        {% for tag in collections.wikiTags %}
        <button class="wikis__filter--button button button--primary" data-filter="{{ tag }}">{{ tag }}</button>
        {% endfor %}
      </div>

      <ul class="wikis__list">
        {% for post in collections.wiki %}
        <li class="wikis__list__item" data-tags="{{ post.data.tags | join: ',' }}">
          <h3>{{ post.data.title }}</h3>
          <p>{{ post.data.summary }}</p>
          <a href="{{ post.url }}" class="wikis__link">View full post</a>
        </li>
        {% endfor %}
      </ul>
    </section>

  </main>

</body>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const filterButtons = document.querySelectorAll('.wikis__filter--button');
    const blogPosts = document.querySelectorAll('.wikis__list__item');

    filterButtons.forEach(button => {
      button.addEventListener('click', () => {

        const selectedFilter = button.getAttribute('data-filter');

        filterButtons.forEach(btn => btn.classList.remove('selected'));
        button.classList.add('selected');

        blogPosts.forEach(post => {
          const postTags = post.getAttribute('data-tags').split(',');

          if (selectedFilter === 'all') {
            post.style.display = '';
          } else if (postTags.includes(selectedFilter)) {
            post.style.display = '';
          } else {
            post.style.display = 'none';
          }
        });

      });
    });
  });
</script>

</html>